<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/static/css/plugins.css">
	<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
					<img class="logo" src="/static/images/logo_icon.png" alt="" width="50" height="25"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
		<form class="top-search" action="/results" method="POST" >
				<input type="text" name="moviesearch" placeholder="Search for a movie. Eg: Avengers">	
	    </form>
	</div>
</header>
<!-- END | Header -->

<div class="slider movie-items">
		<div class="container">
			<div class="row">
				<div  class="slick-multiItemSlider">
					<div class="movie-item">
						<div class="mv-img">
							<a href="#"><img src="/static/images/uploads/slider1.jpg" alt="" width="285" height="437"></a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span class="blue"><a href="#">Sci-fi</a></span>
							</div>
							<h6><a href="https://www.imdb.com/title/tt0816692/" target="_blank">Interstellar</a></h6>
							<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
						</div>
					</div>
					<div class="movie-item">
						<div class="mv-img">
							<a href="#"><img src="/static/images/uploads/slider2.jpg" alt="" width="285" height="437"></a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span class="yell"><a href="#">action</a></span>
							</div>
							<h6><a href="https://www.imdb.com/title/tt1663202/" target="_blank">The revenant</a></h6>
							<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
						</div>
					</div>
					<div class="movie-item">
						<div class="mv-img">
							<a href="#"><img src="/static/images/uploads/slider3.jpg" alt="" width="285" height="437"></a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span class="green"><a href="#">comedy</a></span>
							</div>
							<h6><a href="https://www.imdb.com/title/tt0095016/" target="_blank">Die hard</a></h6>
							<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
						</div>
					</div>
					<div class="movie-item">
						<div class="mv-img">
							<a href="#"><img src="/static/images/uploads/slider4.jpg" alt="" width="285" height="437"></a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span class="blue"><a href="#">Sci-fi</a></span> <span class="orange"><a href="#">advanture</a></span>
							</div>
							<h6><a href="#">The walk</a></h6>
							<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/plugins2.js"></script>
<script src="/static/js/custom.js"></script>
</body>


</html>
